---
version: '3'
services:

  # connect service runs in the destination cluster
  kafkaconnect:
    image: lsstsqre/kafkaconnect:tickets-DM-28547
    container_name: kafkaconnect
    entrypoint: kafkaconnect
    environment:
      KAFKA_CONNECT_URL: http://connect-destn:8083
      KAFKA_BROKER_URL: broker-destn:29092

  zookeeper-destn:
    image: confluentinc/cp-zookeeper:5.5.2
    hostname: zookeeper-destn
    container_name: zookeeper-destn
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker-destn:
    image: confluentinc/cp-enterprise-kafka:5.5.2
    hostname: broker-destn
    container_name: broker-destn
    depends_on:
      - zookeeper-destn
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper-destn:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker-destn:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://schema-registry-destn:8084



  schema-registry-destn:
    image: confluentinc/cp-schema-registry:5.5.2
    hostname: schema-registry-destn
    container_name: schema-registry-destn
    depends_on:
      - broker-destn
    ports:
      - "8084:8084"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry-destn
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker-destn:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8084


  connect-destn:
    image: lsstsqre/cp-kafka-connect:5.5.2-0.8.2-tickets-DM-21334
    hostname: connect-destn
    container_name: connect-destn
    depends_on:
      - broker-destn
      - schema-registry-destn
    ports:
      - "8083:8083"
    environment:
      CONNECT_BOOTSTRAP_SERVERS: 'broker-destn:29092'
      CONNECT_REST_ADVERTISED_HOST_NAME: connect-destn
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: compose-connect-group
      CONNECT_CONFIG_STORAGE_TOPIC: docker-connect-configs
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_FLUSH_INTERVAL_MS: 10000
      CONNECT_OFFSET_STORAGE_TOPIC: docker-connect-offsets
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_TOPIC: docker-connect-status
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_KEY_CONVERTER: io.confluent.connect.avro.AvroConverter
      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry-destn:8084
      CONNECT_VALUE_CONVERTER: io.confluent.connect.avro.AvroConverter
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry-destn:8084
      CONNECT_INTERNAL_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_INTERNAL_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_PLUGIN_PATH: "/usr/share/java,/etc/landoop/jars/lib"
      CONNECT_LOG4J_LOGGERS: org.apache.zookeeper=ERROR,org.I0Itec.zkclient=ERROR,org.reflections=ERROR

  zookeeper-src:
    image: confluentinc/cp-zookeeper:5.5.2
    hostname: zookeeper-src
    container_name: zookeeper-src
    environment:
      ZOOKEEPER_CLIENT_PORT: 2182
      ZOOKEEPER_TICK_TIME: 2000

  broker-src:
    image: confluentinc/cp-enterprise-kafka:5.5.2
    hostname: broker-src
    container_name: broker-src
    depends_on:
      - zookeeper-src
    ports:
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper-src:2182'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker-src:29093,PLAINTEXT_HOST://localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      AFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://schema-registry-src:8081


  schema-registry-src:
    image: confluentinc/cp-schema-registry:5.5.2
    hostname: schema-registry-src
    container_name: schema-registry-src
    depends_on:
      - broker-src
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry-src
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker-src:29093'
      CHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
