name: strimzi-kafka

on:
  push:
    branches-ignore:
      # These should always correspond to pull requests, so ignore them for
      # the push trigger and let them be triggered by the pull_request
      # trigger, avoiding running the workflow twice.  This is a minor
      # optimization so there's no need to ensure this is comprehensive.
      - "dependabot/**"
      - "renovate/**"
      - "tickets/**"
      - "u/**"
    tags:
      - "*"
  pull_request: {}

jobs:
  strimzi-kafka:
    runs-on: ubuntu-latest

    # Only do Docker builds of tagged releases and pull requests from ticket
    # branches.  This will still trigger on pull requests from untrusted
    # repositories whose branch names match our tickets/* branch convention,
    # but in this case the build will fail with an error since the secret
    # won't be set.
    if: >
      startsWith(github.ref, 'refs/tags/')
      || startsWith(github.head_ref, 'tickets/')

    steps:
      - uses: actions/checkout@v3

      - name: Define the Docker tag
        id: vars
        run: echo ::set-output name=tag::$(scripts/docker-tag.sh)

      - name: Print the tag
        id: print
        run: echo ${{steps.vars.outputs.tag}}

      - name: Download and extract the InfluxDB Sink Connector plugin
        run: |
          curl -LO https://github.com/lensesio/stream-reactor/releases/download/3.0.1/kafka-connect-influxdb-3.0.1-2.5.0-all.tar.gz
          tar xvzf kafka-connect-influxdb-3.0.1-2.5.0-all.tar.gz
        working-directory: ./strimzi-kafka

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: strimzi-kafka
          push: true
          tags: lsstsqre/strimzi-0.27.1-kafka-3.0.0:${{steps.vars.outputs.tag}}
          cache-from: type=gha,scope=strimzi-kafka
          cache-to: type=gha,mode=max,scope=strimzi-kafka
